.banner{
  background: $BrightRed;
  padding: 3em 0;
.container{
  align-items: center;
  justify-content: space-between;
}
  &__title{
    width: 80%;
    color: $VaryLightGray;
    position: relative;
    font-weight: 700;
    font-size: 2em;
  }
  &__btn{
    background: $VaryLightGray;
    color: $BrightRed;
    width: 180px;
    font-size: .8em;
    font-weight: 700;
    border-radius: 30px;
    border: 0;
    padding:1em 2em;
    &:hover{
      color: hsla(12, 88%, 59%,.5);
    }
  }
    
  @include media-small-small{
    .container{
      display: block !important;
      text-align: center;
    }
    &__title{
      margin: 0 auto 1em;
    }

}
}