//Colors
$BrightRed: hsl(12, 88%, 59%);
$DarkBlue: hsl(228, 39%, 23%);

// ### Neutral

$DarkGrayishBlue: hsl(227, 12%, 61%);
$VeryDarkBlue: hsl(233, 12%, 13%);
$VaryLightGray: hsl(0, 0%, 98%);
@mixin button{
  background: $BrightRed;
  border-radius: 20px;
  color:$VaryLightGray;
  border: 0;
  padding: .5em 1.5em;
  font-weight: 500;
  &:active{
  outline: 0;
  transform:scale(.8)
  }
  &:hover{
    background: hsla(12, 88%, 59%,.5);
  }
  }
  @mixin titleH2{
    color: $VeryDarkBlue;
    font-weight: 700;
  }
  @mixin description{
    color:$DarkGrayishBlue;
    font-size: 1em;
  }
