//Colors
$BrightRed: #f25f3a;
$DarkBlue: #242d52;

// ### Neutral

$DarkGrayishBlue: hsl(227, 12%, 61%);
$VeryDarkBlue: hsl(233, 12%, 13%);
$VaryLightGray: #fafafa;
//media querys
@mixin media-forms {
  @media(max-width:1199px){ @content}
};

@mixin media-medium  {
  @media(max-width:991px){@content};
}
@mixin media-medium-small  {
  @media(max-width:767px){@content};
}

@mixin media-small {
  @media (max-width:575px){@content}
};
@mixin media-small-small {
  @media (max-width:375px){@content}
};
  @mixin button{
  background: $BrightRed;
  border-radius: 20px;
  color:$VaryLightGray;
  border: 0;
  padding: .5em 1.5em;
  font-weight: 500;
  
  &:active{
  outline: 0;
  transform:scale(.8)
  }
  &:hover{
    background: hsla(12, 88%, 59%,.8);
    box-shadow: 0px 6px 10px $BrightRed;
  }
  }
  @mixin titleH2{
    color: $VeryDarkBlue;
    font-weight: 700;
  }
  @mixin description{
    color:$DarkGrayishBlue;
    font-size: 1em;
  }
