.whats{
  display: flex;
  // justify-content: space-between;
  &__btn{
    @include button;
    height: 3em;
  }
   &__description{
    border: 1px solid blue;
    width: 55%;
    padding-right: 10em;
    &__question{
    @include titleH2;
    }
    &__asnwer{
      padding-right: 8em;
      @include description;

    }
  }
  &__list{
    border: 1px solid red;
    width: 45%;
    .list{
      &__description{
        margin-left: 1.5em;
        h6{
        color: $VeryDarkBlue;
        font-size: 1em;
        font-weight: bold;
        margin-bottom: 1em;
        }
        &_items{
          @include description;
        }
      }
  }

  }
 
  .row-md-4 {
    margin-bottom: 2em;
  }
  @include media-medium{
    &__description{
      padding: 0;
      &__asnwer{
        padding-right: 4em;
      }
    }
  }
  @include media-medium-small{
  display: block;
    &__btn{
      font-size: .7em;
    }
    &__description{
    width: 100%;
    &__question{
      text-align: center;
    }
      &__asnwer{
        font-size: .9em;
      text-align: center;
      padding: 0 1em;
      width: 80%;
      margin: 0 auto 1em;
      }
    }
    &__list{
      width: 100%;
    }
    .list__description{
      &_items{
        font-size: .9em;
      }
    }
  }
  
}
  