@import './config';
body{
  font-family: 'Be Vietnam', sans-serif;
  box-sizing: border-box;
  overflow-wrap: break-word;
  font-size: 16px;
  background-color: $VaryLightGray;
}
.scroll-hidden{
  overflow-y: hidden;
}
@import'./header';
@import'./hero';
@import'./what';
@import'./said';
@import'./banner';
@import'./footer';
